.singleNewsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.singleNewsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.singleNewsBody {
  font-size: 16px;
  line-height: 1.5;
}
